<div class='card text-center'>
	<div class="card-header">
		<h1>Devinet</h1>
  	</div>
  	<ul class="list-group list-group-flush">
		{% for level in levels %}
  		<li class="list-group-item">
  			<h4 class="card-title">{{level}}</h4>
  			{% for stage in level.stage_set.all %}
	      		<a href="#" class="stage btn btn-primary" id="{{stage.id}}">{{stage}}</a>
	    	{% endfor %}
  		</li>
		{% endfor %}
  	</ul>
</div>
{% block js %}
<script>
// loads the stage id
$('.stage').click(function() {
    var stage_id = $(this).attr('id');
    $('.container').load('/puzzle/stage/', {'pk': stage_id});
});
</script>
{% endblock js %}