<style type="text/css">

	.btn-primary {
		background-color: #24912E;
		border-color: #1F7D27;
	}
	.levels {
		margin-top: 200px;
	}

	.box {
		/*background-color: #37DE46;*/
		opacity: 0.7;
		border-radius: 32px;
		position: absolute;
	}


	.box button {
			width: 50px;
	    height: 50px;
			margin: 5px;
			border-radius: 50px;
			opacity: 1;
			z-index: 10;
			cursor: pointer;
			background-color: transparent;
	}

	.box.level1 {
		width:71px
	}

	.box.level2 {
		width: 125px;
		left: 65px;
	}

	.box.level3 {
		width: 60px;
		left: 194px;
    top: 61px;
	}

	.box.level4 {
		top: 121px;
    left: 65px;
		width: 127px;
		background-color: #0AA2A8;
	}

	.box.level5 {
		top: 240px;
	}

	.box.level6 {
		top: 60px;
    left: 257px;
	}

	.box.level7 {
		top: 121px;
		left: 385px;
	}

	.box.level8 {
		top: 181px;
		left: 322px;
		width: 124px;
	}

	.box.disable button {
		opacity: 0.3;
		cursor: default;
	}

	.remove-border {
		margin: 0;
		padding: 0;
	}

	.box.level1 button {
		border: 4px solid green;
	}

	.box.level2 button {
		border: 4px solid green;
	}

	.box.level3 button {
		border: 4px solid green;
	}

	.box.level4 button {
		border: 4px solid green;
	}

	.box.level5 button {
		border: 4px solid green;
	}

	.box.level6 button {
		border: 4px solid green;
	}

	.box.level7 button {
		border: 4px solid green;
	}

	.box.level8 button {
		border: 4px solid green;
	}

	.box .complete {
		background-color: white;
	}

</style>
<div class="row levels">
	<div class="col-md-2 remove-border"></div>
	<div class="col-md-8 remove-border">
		<div class="box level1 {% if not 1 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="1"></button>
			<button class="btn btn-default stage" id="2"></button>
			<button class="btn btn-default stage" id="3"></button>
		</div>
		<div class="box level4 {% if not 4 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="4"></button>
			<button class="btn btn-default stage" id="5"></button><br>
			<button class="btn btn-default stage" id="6"></button>
			<button class="btn btn-default stage" id="7"></button>
		</div>
		<div class="box level2 {% if not 2 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="4"></button>
			<button class="btn btn-default stage" id="5"></button>
		</div>
		<div class="box level3 {% if not 3 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="4"></button>
			<button class="btn btn-default stage" id="5"></button>
			<button class="btn btn-default stage" id="5"></button>
		</div>
		<div class="box level5 {% if not 5 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="4"></button>
			<button class="btn btn-default stage" id="5"></button>
			<button class="btn btn-default stage" id="5"></button>
			<button class="btn btn-default stage" id="5"></button>
			<button class="btn btn-default stage" id="5"></button>
		</div>
		<div class="box level6 {% if not 6 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="4"></button>
			<button class="btn btn-default stage" id="5"></button>
			<button class="btn btn-default stage" id="5"></button>
		</div>
		<div class="box level7 {% if not 7 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="4"></button>
			<button class="btn btn-default stage" id="5"></button>
			<button class="btn btn-default stage" id="5"></button>
		</div>
		<div class="box level8 {% if not 8 in unlocked_levels %} disable {% endif %}">
			<button class="btn btn-default stage" id="4"></button>
			<button class="btn btn-default stage" id="5"></button>
		</div>
	</div>
	<div class="col-md-2 remove-border"></div>
</div>
{% block js %}
<script>
// loads the stage id
$('.stage').click(function() {
	if (!($(this).parent().hasClass("disable"))) {
		var stage_id = $(this).attr('id');
		$('.container').load('/puzzle/stage/', {'pk': stage_id});
	}
});
</script>
{% endblock js %}
