{% block content %}
<style>
  .mouse {
    position: absolute;
    transform: translate(-30px, -30px);
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 30px;
  }

  .answer {
    transform: translate(-30px, -30px);
    position: absolute;
    width: 60px;
    height: 60px;
    border: 5px solid red;
    border-radius: 30px;
  }

  .focusArea {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .success {
    position: absolute;
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<div class="focusArea">
  <div class="mouse"></div>
  <div class="answer"></div>
  <div class="btn btn-success success" style="display:none"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  function loop() {
    requestAnimationFrame(loop);
  }
  $('.focusArea').mousemove(function(e) {
    x=event.clientX;
    y=event.clientY;
    width =   $('.focusArea').width();
    height = $('.focusArea').height();
    console.log(x +' '+ y);
    $('.mouse').css({
       left:  e.pageX,
       top:   e.pageY
    });
    $('.answer').css({
       left:  width-e.pageX,
       top:   height-e.pageY
    });
    if ((x > width/2 - 15) && (x < width/2 + 15))
    {
      if ((y > height/2 - 15) && (y < height/2 + 15))
      {
        $('.success').show();
      }
    }
  });

  $('.success').click(function() {
        $('.container').load('/puzzle/home/');
    });
  loop();
</script>
{% endblock content %}