<style>

  .success {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    opacity: 1;
    border: 4px solid #93DC5C;
    background-color: transparent;
    left: 50%;
    top: 49.6%;
    transform: translate(-50%, -50%);
  }
  
</style>
<span class="red"></span>
<span class="success"></span>
<span class="green"></span>
<script type="text/javascript">
  var completed = false;
  window.addEventListener('blur', function(){
    window.addEventListener('focus', function(){
       completed = true;
    }, false);
}, false);

  $('.success').click(function() {
    if (completed) {
      $('.container').load('/puzzle/list/');
      $('.success').css('background-color', '#93DC5C');
    }
  });
</script>
