<style>
.success13 {
    position: absolute;
        top: 50%;
    transform: translate(-50%, -60%);
    height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    opacity: 1;
    z-index: 10;
    border: 4px solid #8CFFB9;
    background-color: transparent;
}
.success13 {
  left: 40%;
}
.copy {
  left: 60%;
}
</style>

<span class="success13"></span>
<span class="success13 copy"></span>

<script>
var completed13 = false;
window.matchMedia("print").addListener(function() {
  completed13 = true;
  $('.success13').css('background-color', '#8CFFB9');
});

$('.success13').click(function() {
  if (completed13) {
    $('.container').load('/puzzle/stage/stagecomplete/', {'pkid':{{pkid}}});
  }
});
</script>
