<style type="text/css">
.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

  .success7 {
    position: absolute;
    background-color: #B9CF54;
    height: 50px;
    width: 50px;
    border-radius: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.box {
	width: 500px;
	height: 500px;
	border: 4px solid #B9CF54;
	border-radius: 500px;
}
.container {
	margin: 0px;
}


.fill-green {
	background-color: green;
}

.fill-red {
	background-color: red;
}

.fill-blue {
	background-color: blue;
}

.focusArea {
	position: absolute;
	width: 95%;
	height: 100%;
}

</style>
<div class="focusArea">
	<div class="box centered"></div>
	<div class="progress centered" style="display:none"></div>
	<div class='success7 centered'></div>
</div>
<script>
var completed7 = false;
$(document).ready(function() {
	var maxLength = $('.box').width();
	var length = 0

	function update() {
		if (length <= maxLength) {
			//increase green rect
			if (length > 50 ){
				length -= 5;
			}
			$('.success7').css({
				width: length,
				height: length,
				borderRadius: length,
				backgroundColor: '#B9CF54'
			});
			// reset on mouse move
			$('.container').mousemove(function(e) {
				// only reset if not complete
				if (length <= maxLength) {
					length += 0.02;
				}
			});
		} else {
			finish();
		}
	}
	// infinite loop
    function loop() {
        requestAnimationFrame(loop);
        update();
    }

    // complete challenge
    function finish() {
    	completed7 = true;
    	$('.success7').css({
				backgroundColor: '#63A824'
			});
    }
    loop()
});
</script>
<script type="text/javascript">
$('.success7').click(function() {
	if (completed7) {
		$('.container').load('/puzzle/stage/stagecomplete/', {'pkid':{{pkid}}});
		$('.success7').css({
    		backgroundColor: '#B9CF54'
    	});
	}
});
</script>
