<style>
  .success {
    position: absolute;
    background-color: #30BF3C;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

</style>
<span class="success"></span>
<script type="text/javascript">
    $(document).ready(function() {
        document.cookie = 'stage_5' + Date.now() + '=asdf; path=/';
        if (document.cookie.split('stage_5').length > 2) {
            $('.success').show();
        }
    });
</script>
<script>

    $('.success').click(function() {
        $('.container').load('/puzzle/home/');
    });
</script>
