{% load i18n %}
<style type="text/css">

.success11 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 1;
  z-index: 10;
  border: 4px solid #8CFFB9;
  background-color: transparent;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.before-text, .after-text {
	font-size: 91px;
  font-weight: 200;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
}

.before-text {
	top: 48.1%;
	left: 48.2%;
}

.after-text {
	top: 48.4%;
	left: 60.3%;
}


</style>
<div class="focusArea">
	<span class="before-text">vajv</span>
	<div class="success11"></div>
	<span class="after-text">og</span>
</div>
<script type="text/javascript">
{% get_current_language as LANGUAGE_CODE %}

var browser_language = '{{LANGUAGE_CODE}}';
var language;
var completed = false;

function loop() {
		requestAnimationFrame(loop);
		if (browser_language.indexOf("hm") >= 0) {
			completed = true;
			$('.success11').css('background-color', '#8CFFB9');
		} else {
			completed = false;
			$('.success11').css('background-color', 'transparent');
		}
}
loop();


$('.success11').click(function() {
	if (browser_language === "hm") {
		$('.container').load('/puzzle/stage/stagecomplete/', {'pkid':{{pkid}}});
	}
});
</script>
