<style>

  .fa-recycle {
    cursor: wait;
    z-index: 1000;
  }
  .success {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    opacity: 1;
    border: 4px solid #93DC5C;
    background-color: transparent;
    left: 50%;
    top: 49.6%;
    transform: translate(-50%, -50%);
  }

  .center span {
  font-size: 30px;
  color: white;
  }

</style>
<span class="success"></span>
<div class="center">
  <span class="fa fa-recycle"></span>
</div>
<script type="text/javascript">
  completed = false;
    $(document).ready(function() {
      if (document.cookie.split('stage_5').length > 4) {
        completed = true;
        $('.fa-recycle').hide();
      } else {
        completed = false;
      }

      $('.fa-recycle').click(function() {
        var d = new Date();
        d = d.setMinutes(d.getMinutes() + 0.5);
          document.cookie = 'stage_5' + Date.now() + '=;expires=+'+ d +'; path=/';
      });
    });

    $('.success').click(function() {
      if (completed) {
        $('.container').load('/puzzle/list/');
      }
    });

</script>
