<style type="text/css">
.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

  .success {
    position: absolute;
		width: 50px;
	  height: 50px;
	  border-radius: 50px;
	  opacity: 1;
	  z-index: 10;
	  border: 4px solid #B9CF54;
	  background-color: transparent;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.box {
	width: 50%;
	height: 60px;
	border: 5px solid red;
	border-radius: 4px;
}
.container {
	margin: 0px;
}

.progress {
	width: 0;
	height: 50px;
}

.fill-green {
	background-color: green;
}

.fill-red {
	background-color: red;
}

.fill-blue {
	background-color: blue;
}

.focusArea {
	position: absolute;
	width: 90%;
	height: 100%;
}
</style>
<div class="focusArea">
	<div class="box fill-red centered" style="display:none"></div>
	<div class="progress fill-blue centered" style="display:none"></div>
	<div class='success centered'></div>
</div>
<script>
var completed = true;
$(document).ready(function() {
	var maxLength = $('.box').width();
	var length = 0

	function update() {
		if (length < maxLength) {
			//increase green rect
			length += maxLength%5;
			$('.progress').css({
				width: length,
				height: 60
			});
			//reset on mouse move
			$('.container').mousemove(function(e) {
				length = 0;
				completed = false;
				$('.success').css('background-color', 'transparent');
			});
		} else {
			finish();
		}
	}
	// infinite loop
    function loop() {
        requestAnimationFrame(loop);
        update();
    }

    // complete challenge
    function finish() {
			$('.success').css('background-color', '#B9CF54');
			completed = true;
    }
    loop()
});
</script>
<script type="text/javascript">
$('.success').click(function() {
	if (completed) {
		$('.container').load('/puzzle/stage/stagecomplete/', {'pkid':{{pkid}}});
	}
});
</script>
