<style>
.circle {
    position: absolute;
    left: 290px;
    background-color: white;
    height: 50px;
    width: 50px;
    bottom: 80%;
    border-radius: 50px;
}

.box1, .box2 {
  position: absolute;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  border: solid 1px #134017;
}

.box1 {
  background-color: #0E4E36;
  opacity: 0.5;
  right: 25%;
  bottom: 338px;
}

.box2 {
  background-color: #1F6A43;
  height: 100px;
  width: 70px;
  opacity: 0.7;
  right: 30%;
  bottom: 390px;
}
</style>
<div class="box1"></div>
<div class="box2"></div>
<span class="circle"></span>
<script>
loop();

function loop() {
  requestAnimationFrame(loop);
  var width = $(window).width();
  var height = $(window).height();
  if ((width > 490 && width < 510) && (height > 510 && height < 520)) {
    $('.circle').css('background-color', 'green');
    $('.circle').addClass('success');

    $('.success').click(function() {
      $('.container').load('/puzzle/home/');
    });
  }
  else {
    $('.success').css('background-color', 'white');
    $('.circle').removeClass('success');
  }
}

</script>
