<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Devinet{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'puzzle/main.css' %}" />
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="container">
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

{% block js %}
{% endblock js %}
