body {
    background-color: #37DE46;
    background-image: url(../static/puzzle/bg.jpg);
}

button {
  outline: 0 !important;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.center i {
  font-size: 30px;
  color: green;
}

.disable_text_highlighting {
-webkit-touch-callout: none;
-webkit-user-select: none; /* Webkit */
-moz-user-select: none;    /* Firefox */
-ms-user-select: none;     /* IE 10  */

/* Currently not supported in Opera but will be soon */
-o-user-select: none;
user-select: none;
}
